<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="PatientLibrary.DataAccess_Facade.UsersRoleClientFacadeBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="PatientLibrary.DataAccess_Facade.UsersRoleClientFacadeBehavior"
                name="PatientLibrary.DataAccess_Facade.UsersRoleClientFacade">
                <endpoint address="" binding="wsHttpBinding" contract="PatientLibrary.DataAccess_Facade.IUsersRoleClientFacade">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/PatientLibrary.DataAccess_Facade/UsersRoleClientFacade/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
