@{
    Layout = null;
}

<!DOCTYPE html>
<style type="text/css">

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 99999s !important;
    }

    .container-login100 {
        z-index: unset !important;
        justify-content: flex-start !important;
    }

    .wrap-login100 {
        margin-left: 15% !important;
    }
</style>
<html lang="en">
<head>
    <title>Hautomate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--===============================================================================================-->
    <link href="~/Contents/Login_v3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Contents/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Contents/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Contents/Login_v3/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Contents/Login_v3/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Contents/Login_v3/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Contents/Login_v3/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">*@
    <!--===============================================================================================-->
    <link href="~/Contents/Login_v3/css/util.css" rel="stylesheet" />

    <link href="~/Contents/Login_v3/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../images/home_background_1.jpg');">
            <div class="wrap-login100">

                @using (Html.BeginForm("Loginpage1", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            @*<i class="zmdi zmdi-landscape"></i>*@
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Log in
                        </span>


                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100" type="text" name="username" placeholder="Username" id="txtUserName" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="pass" placeholder="Password" id="txtPassword" required>
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>

                        @*<div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Remember me
                                </label>
                            </div>*@

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                        <div class="text-center p-t-40">
                            <span>
                                New User? <a class="txt1" href="@Url.Action("register", "Login")">
                                    Click Here To Register
                                </a>
                            </span>

                        </div>
                    </form>
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->

    <script src="~/Contents/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Contents/Login_v3/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Contents/Login_v3/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Contents/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Contents/Login_v3/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>*@
    <!--===============================================================================================-->

    <script src="~/Contents/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="~/Contents/Login_v3/js/main.js"></script>

    <script src="~/Contents/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <script>
        function DisableBackButton() {


            window.history.forward()
        }
        DisableBackButton();

        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
        function DisableBackButtonAllBrowsers() {

            window.history.forward()
        };
        $(".alert").hide();

        var r = '@ViewData["a"]';
        if (r != "") {
            $(".alert").show();
            window.setTimeout(function () {
                debugger
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);


        }
        else {
            $(".alert").hide();
        }


        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

</body>
</html>

